<tr>
    <td>
        <% if (r.icon) { %>
        <%- embedImg(r.type, r.name) %>
        <% } %>
    </td>
    <td>
<% if (r.assemblerMap) { %>
        <a href="<%- recipeCategoryUrl(r.category) %>">
<% for (var ami = 0; ami < 1 && r.assemblerMap.length; ami++) {
var am = r.assemblerMap[ami]; %>
    <%- embedImg('item', am.name) %>
<% }
} else { %>
    <%= r.category %>
<% } %>
        </a>
    </td>
    <td><%= r.title || r.name %></td>
    <td><%
    var keys = Object.keys(r.ingredients);
    for (var idxIng = 0; idxIng < keys.length; idxIng++) {
        var ingd = r.ingredients[keys[idxIng]];
        if (ingd.type) { %>
            <%= ingd.amount %>x <%- embedItemPopover(ingd.name) %>
        <% } else { %>
            <%= ingd[2] %>x <%- embedItemPopover(ingd[1]) %>
        <% } %>
    <% } %>
    </td>
    <td><%
    var keys = Object.keys(r.results);
    for (var idxRes = 0; idxRes < keys.length; idxRes++) {
        var rslt = r.results[keys[idxRes]];
        if (rslt.probability && rslt.probability != 1) { %>
            <%= Math.round(rslt.probability * 100) %>%
        <% }
        if (rslt.amount) { %>
            <%= rslt.amount %>x
        <% } else if (rslt.amount_min) { %>
            <%= rslt.amount_min %>-<%= rslt.amount_max %>x
        <% } else { %>
            1x
        <% } %>
        <%- embedItemPopover(rslt.name) %>
        <% if (idxRes != keys.length - 1) {%>
        <br>
        <% }%>
    <% } %>
    </td>
    <td>
        <% for (var unlock in r.unlock_by) {
            unlock = r.unlock_by[unlock]; %>
        <a href="/pack/<%= modpack %>/tech/<%= unlock %>">
            <%- embedImg('technology', unlock, 'tech-img') %> <%= findTitle(unlock) %>
        </a>
        <% } %>
    </td>
</tr>