<!DOCTYPE html>
<html lang="en">
<head>
    <% include layout/head.ejs %>
</head>
<body>
<% include layout/header.ejs %>
<div class="container">

    <h2><%= title %></h2>

    <table class="sortable-theme-bootstrap" data-sortable id="table">
        <thead>
        <tr>
            <th>Icon</th>
            <th>Name</th>
            <th>Energy</th>
            <th>Craft Speed</th>
        </tr>
        </thead>
        <tbody>
    <% for (var idx = 0; idx < assemMap.length; idx++) {
        var a = assemMap[idx];
    %>
    <tr>
        <td><%- embedImg('item', a.name) %></td>
        <td><a href="/pack/<%= modpack %>/i/item/<%= a.name %>"><%= a.title %></a></td>
        <td><%= a.energy_usage %></td>
        <td><%= a.crafting_speed %></td>
    </tr>
    <% } %>
        </tbody>
    </table>
</div>

<footer>
    <% include layout/footer.ejs %>
</footer>
</body>
</html>
