<div>
    <img class="r-cat" src="<%= itemGroupImage(item.subgroup) %>">
    <% if (recipe) { %>
    <div>Time: <%= recipe.energy_required %></div>
    <div class="ingredients">
<%
    var keys = Object.keys(recipe.ingredients);
    for (var idxIng = 0; idxIng < keys.length; idxIng++) {
        var ingd = recipe.ingredients[keys[idxIng]];
        var type, name, count;
        if (ingd.type) {
            type = ingd.type;
            name = ingd.name;
            count = ingd.amount;
        } else {
            name = ingd[1];
            type = findCraftableByName(name).type;
            count = ingd[2];
        } %>
        <div>
            <%- embedImg(type, name) %> <span class="ingd-descr"><%= count %> x <%= findTitle(name) %></span>
        </div>
<% } %>
    </div>
    <% } %>
</div>