<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon-leaf"></span>
                Factorio Data
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/pack/<%= modpack %>">Home</a></li>
            <li><a href="/pack/<%= modpack %>/tech">Technology</a></li>
            <li><a href="/pack/<%= modpack %>/itemcats">Item Categories</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <% if (modpack_title) { %>
            <li><a href="/pack/">Config Pack: <%= modpack_title %></a></li>
            <% } %>
        </ul>

    </div>
</nav>
<%- analytics %>
<script>var modpack = "<%= modpack %>";</script>